

.center  {
  vertical-align: middle;
  margin:auto;
  float:right;
}

.pumbotron {
  padding: 30px;
  margin-bottom: 30px;
  margin-top:30px;
  color: inherit;
  background-color: #eee;
  border-color: #F3B18C;
  border-radius: 10px;
  max-width: 700px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  border-radius: 15px;
}

.numbotron {
  color: inherit;
  margin-top:30px;
  max-width: 600px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  border-radius: 15px;
}

.bg{
  background-image:url('../geometry.png');
  background-repeat:repeat;
}

.margins {
  margin-bottom:30px;
}

#id{
  
}