        
        <div ng-hide="newPoll">

            <div class="pumbotron">
                <h4>Create Polls</h4>

        
                <p><input class="form-control" name='question' ng-model="question" type="text" placeholder="Enter your Question here" /></p>
                <div id="form-field">
                <p><input  class="form-control" type="text" placeholder="your Options" ng-model="ans1"/></p>
                <p><input  class="form-control" type="text" placeholder="your Options" ng-model="ans2"/></p>
                <p><input  class="form-control" type="text" placeholder="your Options" ng-model="ans3"/></p>
                <p><input  class="form-control" type="text" placeholder="your Options" ng-model="ans4"/></p>

                </div>
                <p><button class="btn btn-inverse" ng-click="create()">Submit &rarr;</button></p>

            </div>


        </div>
        <div class="pumbotron">
        <div ng-show="newPoll">
            <h3 >Your URL is</h3>
            <a><h3>http://127.0.0.1/{[{ newPoll }]}</h3></a>
            <p style="color:#C9C9C9">You can share this link with your friends,family and on Social networks to get
                opinions on your question. </p>
            <a href="/{[{ newPoll }]}"><button class="btn btn-inverse">Go to Poll </button></a>
        </div>

        <div ng-show="noPoll">
            <h1>An error occured. Please create the poll again</h1>
            <a href="/"><button class="btn  btn-inverse">Create Again</button></a>
        </div>
    </div>

