<div class="pumbotron text-center">
    <h4> {[{ poll.question }]} </h4>
     <canvas id="canvas" height="450" width="450"></canvas>
     <div class="row">

        <div style="list-style-type: none;" class="well" ng-repeat="i in complete_values">
            <span style="background-color: {[{ i.color }]};"></span>
            <p style="color:{[{ i.color }]}"><b style="color:#C9C9C9">Answer:</b>{[{ i.text }]}</p>
            <p style="color:{[{ i.color }]}"><b style="color:#C9C9C9">Votes:</b> {[{ i.votes}]}</p>
        </div>


     </div>
</div>