<div class="pumbotron text-center">
        
        <div>
            <h3>{[{poll.question}]}</h3>
        </div>

        <div ng-hide="result">
            <span ng-repeat="i in poll.answers" >
              <p class="well well-sm">{[{ i.text }]}
              <button class="btn btn-inverse btn-sm" style="float:right" ng-click="submitVote(i.id)">Vote</button></p>
            </span>   
        </div>

        <div ng-show="result">
            <p style="color:#2ECC71">Answer was submitted</p>  
            <a href="/results/{[{poll.slug}]}"><button class="btn btn-inverse">See results</button></a> 
        </div>        
    </div>