<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">

        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
             canvas{
            }

             p1{

            }

            .circle {
                
            }

            .custom li {
                list-style-type: none;
                border-radius: 50%;
                width: 10px;
                height: 10px; 
            }



        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/flat-ui.css">

        <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">

        <script src="{{ STATIC_URL }}/js/Chart.js"></script>
        <script src="{{ STATIC_URL }}/js/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script src="{{ STATIC_URL }}/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="{{ STATIC_URL }}/js/app.js"></script>
    </head>
    <body class="bg" ng-app="polliceApp">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">

        <div style="margin-top:50px" ng-show=" location.path() == '/'" class="row text-center">
            <img src='{{ STATIC_URL }}logo-bm.png'  />
            <img src="static/text.png">
        </div>
        <div ng-hide=" location.path() == '/'" class="row text-center margins">
             <img src='{{ STATIC_URL }}logo.png'  />
             <img width="300px" src="{{ STATIC_URL }}text.png">
        </div>
        <div ng-view>
        </div>

    </div>
      <!-- Example row of columns -->
      
     
      <hr>
      
    </div> <!-- /container --> <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>  

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
